h1{
    text-align: center;
     text-shadow: 5px 5px 5px rgb(255, 255, 255);
     font-size: xx-large;
     background-color: crimson;
     border: rgb(0, 0, 0) 3px solid;
}
.m{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: ;
    
}
 p{
    font-size: x-large;
}
article{
     margin: 50px;
     border: slateblue 5px double;
     box-shadow: 5px 5px 5px 5px slategray;
     background-color: white;
}
img{
    width: 500px;
    height: 300px;
}
article:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 9px 9px 9px 9px slategray;
}
h1:hover{
transform:scale(1.01);
    transition: 0.3s ease-in-out;
    box-shadow: 9px 9px 9px 9px slategray;
}
h2{
    background-color: brown;
padding:   10px;
border: 3px solid black;
}
h3{
    padding:   10px;
border: 3px solid black;
font-size: x-large;
background-color: white;
}
h2:hover{
    transform:scale(1.01);
    transition: 0.3s ease-in-out;
    box-shadow: 9px 9px 9px 9px slategray;
}
h3:hover{
    transform:scale(1.01);
    transition: 0.3s ease-in-out;
    box-shadow: 9px 9px 9px 9px slategray;
    
}
span{
    background-color: lightblue ;
    border: 1px dotted black;
}
body{
   
}
h4 {
    font-size: x-large;
    font-family: cursive;
    text-align: center;
    box-shadow: 5px 1px 7px 7px slategray;
}
h4:hover{
    transform:scale(1.02);
    transition: 0.3s ease-in-out;
}
.f{
    border-bottom: 3px double lightblue;
}
